@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit Employee";
}

<h1>Edit Employee</h1>

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
    <partial name="PartialViews/CreateEditEmployeePartial" />
    <input type="submit" value="Save" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Cancel </a>

</form>


@section ValidationScriptsSection{



    <partial name="_ValidationScriptsPartial" />
}
